.category {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.category textarea {
  font-size: medium;
  margin-left: 5px;
}

.category .rta__autocomplete {
  width: 450px;
  z-index: 1;
}

.category .actions {
  padding-left: 20px;
}

.category .actions button {
  background: transparent;
  border: solid thin transparent;
  font-size: xx-large;
  padding: 5px;
  display: flex;
}

.category .actions button:hover {
  border: solid thin #7f7f7f;
}
