.App {
  font-size: 16px;
}

.form {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
}

.form label {
  display: block;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: larger;
  margin: 10px 0 5px 0;
}

.form label .hint {
  color: #7f7f7f;
  text-transform: none;
}

.form label .example {
  color: green;
  text-transform: none;
  display: block;
}

.form input {
  width: stretch;
  font-size: larger;
}

.form textarea {
  width: stretch;
  font-size: larger;
  padding: 5px 10px;
}

.form select {
  font-size: larger;
  padding: 5px 10px;
}

.list {
  font-size: x-large;
  width: stretch;
}
.list button {
  flex-grow: 0;
  border: solid thin transparent;
  background: transparent;
  padding: 0;
  margin: 0;
}
.list .item {
  display: flex;
  flex-direction: row;
  width: stretch;
  border-bottom: solid thin #7f7f7f;
  padding: 5px 0 0 0;
}
.list a {
  flex-grow: 1;
  text-decoration: none;
  text-transform: uppercase;
}
